

#category-card{
    background-color: #017F8D;
    border-radius: 3%;
    
}

h2{
    text-align: center;
    font-size: xx-large;
}

#image{
    text-align: center
}


#category-card:hover{
    background-color: #7DC545
}